:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --action-color: #2196f3;
  --hero-background-color: #2f303a;
  --section-main-background-color: #e5e5e5;
  --section-secondary-background-color: #f5f4fa;
  --main-body-color: #ffffff;
}

/*если надо выделить границы элемента - используй outline: 2px solid tomato;*/

/*global*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var (var(--main-body-color));
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0p;
}

p {
  margin: 0px;
}

/*conteiner*/

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*section*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*header*/

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  border-bottom: 1px solid #ececec;
}

.header .conteiner {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  color: var(--action-color);
  font-weight: 700;
  line-height: 1.2;
}

.header-logo {
  color: #000;
}

.nav {
  margin-left: 93px;
}

.nav-list {
  display: flex;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  color: var(--secondary-text-color);
}

.nav-link:hover {
  color: var(--action-color);
}

.nav-link-action {
  color: var(--action-color);
}

.nav-link,
.nav-link-action {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 50px;
}

.header-contacts {
  color: var(--primary-text-color);
}

.header-contacts:hover {
  color: var(--action-color);
}

/*hero*/
.hero {
  background-color: var(--hero-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--main-body-color);
  text-transform: uppercase;
  font-size: 44px;
  text-align: center;
  line-height: 1.36;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero-button {
  font-family: inherit;
  font-size: 14px;
  color: var(--main-body-color);
  font-weight: bold;
  background-color: var(--action-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*features*/

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  font-size: 14px;
}

.features-list {
  display: flex;
}

.features-list .item + .item {
  margin-left: 30px;
}

.features-title {
  color: var(--secondary-text-color);
  line-height: 1.2;
  margin: 0;
}

.features-text {
  line-height: 1.7;
  margin-top: 10px;
}

.section-title {
  color: var(--secondary-text-color);
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  margin: 0;
}

.what-are-we-doing {
  padding-top: 0;
}

.what-are-we-doing-list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.our-team {
  background-color: var(--section-secondary-background-color);
}

.our-team-list {
  margin-top: 50px;
  text-align: center;
  display: flex;
}

.our-team-list-item {
  background-color: var(--main-body-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.our-team-list-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-list-item-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.name {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
}

.profession {
  font-size: 16px;
  line-height: 1.2;
  margin-top: 10px;
}

.photo {
  display: block;
}

/*footer*/

.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: var(--main-body-color);
}

.address {
  font-size: 14px;
  line-height: 1.7;
  color: var(--main-body-color);
  font-style: normal;
  margin-top: 20px;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
}

.address-link:hover {
  color: var(--action-color);
}

.footer-contact-link {
  margin-top: 9px;
}

/*portfolio*/

.filter {
  display: flex;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  font-family: inherit;
  font-size: 16px;
  color: var(--secondary-text-color);
  font-weight: 500;
  background-color: var(--section-secondary-background-color);
  border-radius: 4px;
  border: none;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
}

.filter-button:hover {
  color: var(--main-body-color);
  background-color: var(--action-color);
}

.portfolio-exsamples {
  margin-top: 34px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.porfolio-exsamples-item {
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: calc ((100% - 3 * 30px) / 3);
}

.portfolio-title {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 2;
  margin: 0;
}

.portfolio-type {
  color: var(--primary-text-color);
  margin-top: 4px;
}

.portfolio-picture {
  display: block;
}

.portfolio-border {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
